* {
    padding: 0;
    margin: 0;
}

/* div.nav {
    background-color: #eee;
    border-bottom: 1px solid #ccc;
    padding: 10px;
    margin: 0px;
}

div.nav a {
    text-decoration: none;
    color: black;
}

div.nav a.logo {
    display: inline-block;
} */